<!--<div>items</div>-->
<div class="home-top">
	<ul>
		<li><button>Добавить</button></li>
		<li><button>Редактировать</button></li>
		<li><button>Изменить категорию</button></li>
		<li><button>Скрыть</button></li>
		<li><button>Удалить</button></li>
	</ul>
</div>