<div id="left">
		<ul>
			<li><a href="/admin">Главная</a></li>
			<li><a href="/admin/add">Добавить</a></li>
			<li><a href="/admin/info">Настройки</a></li>
			<li><a href="/logout">Выход</a></li>
		</ul>
	</div>