<!DOCTYPE html>
<html>
<head>
	<% include admin/header.ejs %>
</head>
<body>
	<% include admin/menu.ejs %>
	<div id="right" class="<%=classname%>">
		<% include partials/home.ejs %>
	</div>
</body>
</html>