html, body {
			margin:0;
			padding:0;
			height:100%;
		}
		body {
			color:black;
			background-color: #eee;
		}
		ul {
			list-style: none;
			padding: 0;
			margin: 0;
		}
		.wrapper {
			max-width:1200px;
			margin:0 auto;
			height:100%;
			//display: flex;
			//flex-direction: column;
		}
		div.wrapper > div {
		}
		#left {
			width:260px;
			float:left;
			position: relative;
		}
		#right {
			float:none;
			box-sizing: border-box;
			overflow: hidden;
			position: relative;
		}

		/* --- top */
		#top {
			//height: 120px;
			margin:0;
			border-bottom: 1px solid lightgray;
		}
		/* --- content */
		#content {
			margin: 20px 0;
		}
		#content > div {
			height: 100%;
		}
		/* --- navigation */
		nav {
			//font:18px normal Georgia;
		}
		nav a {
			text-decoration: none;
			color:black;
		}
		nav a:hover {
			//text-decoration: underline;
		}
		.left-menu-wrap {
			margin: 0px auto;
			width:200px;
			font-size:18px;
		}
		#coins-menu ul {
			position: absolute;
			margin-bottom: 30px;
		}
		#coins-menu ul > li {
			padding: 6px 0;
		}
		#coins-menu > ul ul {
			margin: 10px 0;

			font-size:18px;
		}
		#coins-menu > ul ul li {
			padding-left: 16px;
			font-style:italic;
		}
		#coins-menu a {
			text-decoration: none;
			color: black;
			display: block;
		}
		#coins-menu a:hover {
			cursor: pointer;
			text-decoration: underline;
		}
		.main-category {
			//font:22px bold Georgia;
			font-size: 22px;
			margin-bottom:10px;
			padding: 0;
		}

		/* --- right block */
		.top-menu div {
			display: table-cell;
			font-size: 18px;
			vertical-align: middle;
			padding-left: 30px;
		}
		.top-menu {
			width: 100%;
			vertical-align: middle;
			height: 100%;
			display: table;

			padding: 20px 0;
		}
		.top-menu div ul {
			font-size:30px;
			vertical-align: middle;
			display: inline-block;
			margin-right: 20px;
		}
		.top-menu div nav {
			display: inline-block;
			margin-left: 40px;
		}
		.top-menu nav ul {
			vertical-align: middle;
			line-height: 30px;
			font-size:0;
		}
		.top-menu nav li {
			font-size: 18px;
			display: inline-block;
		}
		.top-menu nav li a {
			padding: 16px 20px;
		}
		.top-menu nav li:hover {
			border-bottom: 1px solid gray;
		}
		#login {
			padding-right: 30px;
			text-align: right;

		}
		#login span {
			border:1px solid lightgray;
			padding: 6px 12px;
			border-radius: 4px;
		}
		#login span:hover {
			border:1px solid gray;
			cursor:pointer;
		}
		#login a {
			text-decoration: none;
			color:black;
		}

		/* --- right block */
		#right {
			//display: flex;
			//font-size:0;
			margin-left:260px;
		}
		#right > div {
			width:200px;
			height:300px;
			border:1px solid white;
			display: inline-block;
			//line-height: 160px;
			overflow: hidden;
			box-sizing: border-box;
			margin:10px;
			position: relative;
			text-align: center;
			//box-shadow: 0 0 10px gray;
			background-color: white;
		}
		#right > div:hover {
			border:1px solid orangered;
			cursor: pointer;
			//box-shadow: 0 0 10px black;
		}
		#right > div:hover div.buy span {
			background-color: orangered;
			color:white;
			border:1px solid white;
			border-radius: 3px;
		}
		#right div img {
			//width:100%;
			height:100%;
			//vertical-align: middle;
			//border-bottom: 1px solid gray;
		}
		#right div.imageBlock {
			height: 150px;
			//height:100%;
			border-bottom: 1px solid lightgray;
		}

		#right div.price {
			//background-color: white;
			//line-height: normal;
			//padding:10px;
			//position: relative;
			//z-index: 100;
			//margin-top: -20px;
			//display: inline-block;
		}
		#right div.buy {
			font:normal 13px Verdana;
			//background-color: white;
			margin:10px;
			position: absolute;
			left:0;
			right: 0;
			bottom: 0;
		}
		#right div.buy span {
			display: inline-block;
			padding:10px 16px;
			//border:1px solid lightgray;
			//border-radius: 2px;
		}
		#right div a {
			position: absolute;
			left:0;
			right: 0;
			bottom: 0;
			top: 0;
		}
		.val {
			font-weight: bold;
			//padding-right: 4px;
			font-size: 14px;
		}
		.price {
			list-style: none;
			font:24px Verdana;
		}
		.price > li {
			display: inline-block;
		}
		.old-price {
			text-decoration: line-through;
			font-size: 12px;
			display: block;
		}
		.new-price {
			color:green;
		}
		.discount {
			//font:italic 12px Consolas;
		}

		.item-info {
			font:normal 14px Verdana;
			padding: 10px 0;
		}
		.item-info .year {
			font-size:12px;
			padding-top:4px;
		}


		#coins-menu ul.scroll {
			position: fixed;
			top:20px;
		}
		#background {
			position: fixed;
			width:100%;
			height: 100%;
			background-color: black;
			opacity: 0.9;
			z-index:900;
			top:0;
			display: none;
		}
		#login span.logout {
			background-color: darkred;
			color:white;
			border:1px solid darkred;
		}
		#pages {
			position: relative;
			//border-bottom: 1px solid lightgray;
			//margin:10px 0;
			padding-bottom: 16px;
		}
		#pages ul {
			list-style: none;
			font-size: 0;
			text-align: right;
			padding-right: 30px;
		}
		#pages ul li {
			display: inline-block;
			padding: 4px 10px;
			border: 1px solid lightgray;
			font:normal 18px Verdana;
			margin-left: 10px;
			cursor: pointer;
			position: relative;
		}
		#pages ul li.active {
			cursor: default;
		}
		#pages ul li:hover,
		#pages ul li.active {
			background-color: orangered;
			color:white;
			border:1px solid orangered;
		}
		#pages a {
			text-decoration: none;
			color:black;
			position: absolute;
			top:0;
			left:0;
			right: 0;
			bottom: 0;
		}
		#coinBlock {
			position: fixed;
			top:45%;
			left:50%;
			margin-left: -534px;
			margin-top:-200px;
			width: 1068px; //800px;
			height: 400px; //300px;
			background-color: white;
			z-index: 901;
			display: none;
			font-size: 0;
		}
		#coinBlock .close {
			position: absolute;
			right:0;
			top:-50px;
			//font:16px normal Verdana;
			color:black;
			//background-color:white;
			padding:10px;
			//line-height:40px;
			//font-size: 0;
			vertical-align: middle;
			cursor: pointer;
		}
		#coinBlock .close img {
			//width: 20px;
			vertical-align: middle;
		}
		#coinBlock #bgimg {
			height:100%;
			width:50%;
			background-repeat: no-repeat;
			//background-position: center;
			background-size: contain;
			//border-right:1px solid #eee;
			display: inline-block;
			box-sizing: border-box;
		}
		#coinBlock #coinInfo {
			display: inline-block;
			vertical-align: top;
			font:normal 16px Verdana;
			width:50%;
			word-wrap: break-word;
			box-sizing: border-box;
			padding: 0 30px;
			height: 100%;
			overflow-y: scroll;
		}
		#coinBlock #coinInfo > div {
		}
		#coinBlock #coinInfo div.coinName {
			font:normal 32px Arial;
		}
		#coinBlock #coinInfo div.coinUniqId {
			font:normal 12px Verdana;
			margin: 16px 0;
			color: #acacac;
		}
		#coinBlock #coinInfo div.coinDescription {
			font-size:14px;
			padding:20px 0 10px 0;
		}
		#coinBlock #coinInfo div.coinYear {
			font-size:14px;
			margin:10px 0;
		}
		#coinBlock #coinInfo div.coinPrice {
			margin-top: 20px;
		}
		#coinBlock #coinInfo div.coinPrice span:last-child {
			color:darkgreen;
			font-weight:normal;
			font-size:28px;
		}
		.cinfo {
			font-size:12px;
			color:#ccc;
			padding-right: 8px;
		}